:root{
    --bg-sidebar: #121212;
    --branco: #000;
    --black: #fff;
}

body{
    background-color: var(--black);
    color: var(--branco);
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 12px;
    width: 300px;
}

.sidebar-nav{
    background-color: var(--bg-sidebar);
    border-radius: 8px;
    padding: 16px 0 0 16px;
}

.logo{
    background: var(--bg-sidebar);
    display: flex;
    border-radius: 8px;
    padding-inline-start: 16px 0 0 16px;
}

.logo img{
    width: 80px;
}